# Julia 機器學習：GLM 線性迴歸

本範例需要使用到的套件有 GLM、RDatasets、MLDataUtils，請在執行以下範例前先安裝。

```
] add GLM
] add RDatasets
] add MLDataUtils
```

In [1]:
using GLM
using RDatasets
using MLDataUtils
using Statistics

## 單純線性迴歸模型示範

## 載入資料

In [2]:
data = RDatasets.dataset("datasets", "longley")

16×8 DataFrame. Omitted printing of 2 columns
│ Row │ Year  │ GNPDeflator │ GNP     │ Unemployed │ ArmedForces │ Population │
│     │ Int64 │ Float64     │ Float64 │ Float64    │ Float64     │ Float64    │
├─────┼───────┼─────────────┼─────────┼────────────┼─────────────┼────────────┤
│ 1   │ 1947  │ 83.0        │ 234.289 │ 235.6      │ 159.0       │ 107.608    │
│ 2   │ 1948  │ 88.5        │ 259.426 │ 232.5      │ 145.6       │ 108.632    │
│ 3   │ 1949  │ 88.2        │ 258.054 │ 368.2      │ 161.6       │ 109.773    │
│ 4   │ 1950  │ 89.5        │ 284.599 │ 335.1      │ 165.0       │ 110.929    │
│ 5   │ 1951  │ 96.2        │ 328.975 │ 209.9      │ 309.9       │ 112.075    │
│ 6   │ 1952  │ 98.1        │ 346.999 │ 193.2      │ 359.4       │ 113.27     │
│ 7   │ 1953  │ 99.0        │ 365.385 │ 187.0      │ 354.7       │ 115.094    │
│ 8   │ 1954  │ 100.0       │ 363.112 │ 357.8      │ 335.0       │ 116.219    │
│ 9   │ 1955  │ 101.2       │ 397.469 │ 290.4      │ 304.8       │ 117.388    │
│ 10  │ 1956  │ 104.6       │ 419.18  │ 282.2      │ 285.7       │ 118.734    │
│ 11  │ 1957  │ 108.4       │ 442.769 │ 293.6      │ 279.8       │ 120.445    │
│ 12  │ 1958  │ 110.8       │ 444.546 │ 468.1      │ 263.7       │ 121.95     │
│ 13  │ 1959  │ 112.6       │ 482.704 │ 381.3      │ 255.2       │ 123.366    │
│ 14  │ 1960  │ 114.2       │ 502.601 │ 393.1      │ 251.4       │ 125.368    │
│ 15  │ 1961  │ 115.7       │ 518.173 │ 480.6      │ 257.2       │ 127.852    │
│ 16  │ 1962  │ 116.9       │ 554.894 │ 400.7      │ 282.7       │ 130.081    │

## 線性迴歸模型

In [3]:
model = GLM.lm(@formula(Employed ~ GNP), data)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Array{Float64,1}},GLM.DensePredChol{Float64,LinearAlgebra.Cholesky{Float64,Array{Float64,2}}}},Array{Float64,2}}

Employed ~ 1 + GNP

Coefficients:
──────────────────────────────────────────────────────────────────────────────
               Estimate  Std. Error  t value  Pr(>|t|)   Lower 95%   Upper 95%
──────────────────────────────────────────────────────────────────────────────
(Intercept)  51.8436     0.681372    76.0871    <1e-19  50.3822     53.305
GNP           0.0347523  0.00170571  20.3741    <1e-11   0.0310939   0.0384107
──────────────────────────────────────────────────────────────────────────────

In [4]:
intercept, slope = coef(model)

2-element Array{Float64,1}:
 51.84358978188405
  0.03475229434762927

## 預測

In [5]:
new_X = DataFrame(GNP=[300., 400., 500.])

3×1 DataFrame
│ Row │ GNP     │
│     │ Float64 │
├─────┼─────────┤
│ 1   │ 300.0   │
│ 2   │ 400.0   │
│ 3   │ 500.0   │

In [6]:
predict(model, new_X)

3-element Array{Union{Missing, Float64},1}:
 62.26927808617283
 65.74450752093576
 69.21973695569868

## 模型評估

In [7]:
GLM.r2(model)

0.9673737718541234

In [8]:
GLM.adjr2(model)

0.9650433269865608

## 多元線性迴歸模型

## 載入資料

In [9]:
data = RDatasets.dataset("datasets", "mtcars")
first(data, 6)

6×12 DataFrame. Omitted printing of 6 columns
│ Row │ Model             │ MPG     │ Cyl   │ Disp    │ HP    │ DRat    │
│     │ String            │ Float64 │ Int64 │ Float64 │ Int64 │ Float64 │
├─────┼───────────────────┼─────────┼───────┼─────────┼───────┼─────────┤
│ 1   │ Mazda RX4         │ 21.0    │ 6     │ 160.0   │ 110   │ 3.9     │
│ 2   │ Mazda RX4 Wag     │ 21.0    │ 6     │ 160.0   │ 110   │ 3.9     │
│ 3   │ Datsun 710        │ 22.8    │ 4     │ 108.0   │ 93    │ 3.85    │
│ 4   │ Hornet 4 Drive    │ 21.4    │ 6     │ 258.0   │ 110   │ 3.08    │
│ 5   │ Hornet Sportabout │ 18.7    │ 8     │ 360.0   │ 175   │ 3.15    │
│ 6   │ Valiant           │ 18.1    │ 6     │ 225.0   │ 105   │ 2.76    │

## 切分訓練資料及測試資料

In [10]:
indecies = MLDataUtils.shuffleobs(collect(1:nrow(data)))
train_ind, test_ind = MLDataUtils.splitobs(indecies, at = 0.8);

In [11]:
train = data[train_ind, :]
test = data[test_ind, :]

6×12 DataFrame. Omitted printing of 6 columns
│ Row │ Model               │ MPG     │ Cyl   │ Disp    │ HP    │ DRat    │
│     │ String              │ Float64 │ Int64 │ Float64 │ Int64 │ Float64 │
├─────┼─────────────────────┼─────────┼───────┼─────────┼───────┼─────────┤
│ 1   │ Chrysler Imperial   │ 14.7    │ 8     │ 440.0   │ 230   │ 3.23    │
│ 2   │ Lincoln Continental │ 10.4    │ 8     │ 460.0   │ 215   │ 3.0     │
│ 3   │ AMC Javelin         │ 15.2    │ 8     │ 304.0   │ 150   │ 3.15    │
│ 4   │ Merc 280            │ 19.2    │ 6     │ 167.6   │ 123   │ 3.92    │
│ 5   │ Honda Civic         │ 30.4    │ 4     │ 75.7    │ 52    │ 4.93    │
│ 6   │ Lotus Europa        │ 30.4    │ 4     │ 95.1    │ 113   │ 3.77    │

## 線性迴歸模型

In [12]:
ols = GLM.lm(@formula(MPG ~ Cyl + Disp + HP + DRat + WT + QSec + VS + AM + Gear + Carb), train)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Array{Float64,1}},GLM.DensePredChol{Float64,LinearAlgebra.Cholesky{Float64,Array{Float64,2}}}},Array{Float64,2}}

MPG ~ 1 + Cyl + Disp + HP + DRat + WT + QSec + VS + AM + Gear + Carb

Coefficients:
──────────────────────────────────────────────────────────────────────────────────
               Estimate  Std. Error     t value  Pr(>|t|)    Lower 95%   Upper 95%
──────────────────────────────────────────────────────────────────────────────────
(Intercept)   3.09462    20.1494      0.153584     0.8800  -39.8528     46.042
Cyl           0.676341    1.18873     0.56896      0.5778   -1.85738     3.21007
Disp          0.0131899   0.0197769   0.666936     0.5149   -0.0289635   0.0553433
HP           -0.0255163   0.0248971  -1.02487      0.3217   -0.0785833   0.0275507
DRat          1.02157     2.17848     0.468939     0.6459   -3.62174     5.66488
WT           -5.27464     2.44612    -2.15633      0.0477  -10.4884     -0.0608672
QSec          1.34878     0.799612    1.68679      0.1123   -0.355556    3.05311
VS           -0.709741    2.4623     -0.288243     0.7771   -5.95801     4.53853
AM            2.31241     2.31409     0.999275     0.3335   -2.61995     7.24476
Gear          0.515556    1.711       0.301319     0.7673   -3.13135     4.16247
Carb         -0.0231611   0.928587   -0.0249423    0.9804   -2.0024      1.95608
──────────────────────────────────────────────────────────────────────────────────

## 預測

In [13]:
predict(ols, test)

6-element Array{Union{Missing, Float64},1}:
  8.496598093805257
  9.030992773507528
 18.621382867454177
 18.027041085959784
 30.587331103734062
 26.97025204036086

## 模型評估

In [14]:
GLM.r²(ols)

0.8648482400356198

In [15]:
GLM.adjr²(ols)

0.774747066726033

## 羅吉斯迴歸模型示範

## 載入資料

In [16]:
data = RDatasets.dataset("ISLR", "Default")
first(data, 6)

6×4 DataFrame
│ Row │ Default      │ Student      │ Balance │ Income  │
│     │ Categorical… │ Categorical… │ Float64 │ Float64 │
├─────┼──────────────┼──────────────┼─────────┼─────────┤
│ 1   │ No           │ No           │ 729.526 │ 44361.6 │
│ 2   │ No           │ Yes          │ 817.18  │ 12106.1 │
│ 3   │ No           │ No           │ 1073.55 │ 31767.1 │
│ 4   │ No           │ No           │ 529.251 │ 35704.5 │
│ 5   │ No           │ No           │ 785.656 │ 38463.5 │
│ 6   │ No           │ Yes          │ 919.589 │ 7491.56 │

## 前處理

In [17]:
isyes(x) = x == "Yes" ? 1.0 : 0.0

data[!, :DefaultNum] = isyes.(data[!, :Default])
data[!, :StudentNum] = isyes.(data[!, :Student])
first(data, 6)

6×6 DataFrame. Omitted printing of 1 columns
│ Row │ Default      │ Student      │ Balance │ Income  │ DefaultNum │
│     │ Categorical… │ Categorical… │ Float64 │ Float64 │ Float64    │
├─────┼──────────────┼──────────────┼─────────┼─────────┼────────────┤
│ 1   │ No           │ No           │ 729.526 │ 44361.6 │ 0.0        │
│ 2   │ No           │ Yes          │ 817.18  │ 12106.1 │ 0.0        │
│ 3   │ No           │ No           │ 1073.55 │ 31767.1 │ 0.0        │
│ 4   │ No           │ No           │ 529.251 │ 35704.5 │ 0.0        │
│ 5   │ No           │ No           │ 785.656 │ 38463.5 │ 0.0        │
│ 6   │ No           │ Yes          │ 919.589 │ 7491.56 │ 0.0        │

## 切分訓練資料及測試資料

In [18]:
indecies = MLDataUtils.shuffleobs(collect(1:nrow(data)))
train_ind, test_ind = MLDataUtils.splitobs(indecies, at=0.8);

In [19]:
train = data[train_ind, :]
test = data[test_ind, :]

2000×6 DataFrame. Omitted printing of 1 columns
│ Row  │ Default      │ Student      │ Balance │ Income  │ DefaultNum │
│      │ Categorical… │ Categorical… │ Float64 │ Float64 │ Float64    │
├──────┼──────────────┼──────────────┼─────────┼─────────┼────────────┤
│ 1    │ No           │ No           │ 371.182 │ 34680.0 │ 0.0        │
│ 2    │ No           │ No           │ 381.567 │ 49114.9 │ 0.0        │
│ 3    │ No           │ No           │ 1057.94 │ 45514.7 │ 0.0        │
│ 4    │ No           │ Yes          │ 509.613 │ 21928.9 │ 0.0        │
│ 5    │ No           │ No           │ 793.971 │ 41931.6 │ 0.0        │
│ 6    │ No           │ No           │ 537.04  │ 21364.3 │ 0.0        │
│ 7    │ No           │ No           │ 848.703 │ 35192.8 │ 0.0        │
│ 8    │ Yes          │ Yes          │ 2269.95 │ 18021.1 │ 1.0        │
│ 9    │ No           │ Yes          │ 819.834 │ 16413.0 │ 0.0        │
│ 10   │ No           │ No           │ 1456.65 │ 59361.9 │ 0.0        │
⋮
│ 1990 │ No           │ No           │ 1219.39 │ 42549.9 │ 0.0        │
│ 1991 │ No           │ No           │ 538.02  │ 27284.5 │ 0.0        │
│ 1992 │ No           │ No           │ 638.23  │ 53812.8 │ 0.0        │
│ 1993 │ No           │ No           │ 367.352 │ 29905.5 │ 0.0        │
│ 1994 │ No           │ Yes          │ 1221.97 │ 17916.9 │ 0.0        │
│ 1995 │ No           │ No           │ 0.0     │ 34066.4 │ 0.0        │
│ 1996 │ No           │ No           │ 1428.81 │ 41417.1 │ 0.0        │
│ 1997 │ No           │ No           │ 1072.74 │ 45704.8 │ 0.0        │
│ 1998 │ No           │ No           │ 433.858 │ 30581.6 │ 0.0        │
│ 1999 │ No           │ No           │ 847.655 │ 43515.3 │ 0.0        │
│ 2000 │ No           │ No           │ 270.586 │ 44958.6 │ 0.0        │

## 羅吉斯迴歸模型

In [20]:
logreg = glm(@formula(DefaultNum ~ Balance + Income), train, Binomial(), LogitLink())

StatsModels.TableRegressionModel{GeneralizedLinearModel{GLM.GlmResp{Array{Float64,1},Binomial{Float64},LogitLink},GLM.DensePredChol{Float64,LinearAlgebra.Cholesky{Float64,Array{Float64,2}}}},Array{Float64,2}}

DefaultNum ~ 1 + Balance + Income

Coefficients:
───────────────────────────────────────────────────────────────────────────────────────
                 Estimate   Std. Error    z value  Pr(>|z|)     Lower 95%     Upper 95%
───────────────────────────────────────────────────────────────────────────────────────
(Intercept)  -11.3128      0.468599     -24.1417     <1e-99  -12.2312      -10.3944
Balance        0.00556067  0.000245884   22.615      <1e-99    0.00507875    0.0060426
Income         1.9015e-5   5.45709e-6     3.48446    0.0005    8.3193e-6     2.97107e-5
───────────────────────────────────────────────────────────────────────────────────────

## 預測

In [21]:
pred = predict(logreg, test)

2000-element Array{Union{Missing, Float64},1}:
 0.00018604667484784532
 0.0002593426718651437
 0.010308093700523923
 0.00031519052907871776
 0.002236855610139555
 0.0003631834995891756
 0.0026667179374108333
 0.839204217071104
 0.001590899910344462
 0.11065665450611135
 0.012277188349135564
 0.00040144994479245376
 0.04080552342502553
 ⋮
 0.0011349835921802786
 0.023589760076239794
 0.0004086595993914567
 0.0011806001599102497
 0.00016632313804030668
 0.015110868085077618
 2.3347100698314147e-5
 0.0704314998871285
 0.011222709311401903
 0.0002438442511003534
 0.0031044436636170547
 0.0001292981723198528

## 模型評估

In [22]:
error(x, y) = ((x > 0.5) ? 1.0 : 0.0) == y
accuracy(xs, ys) = mean(error.(xs, ys))

accuracy (generic function with 1 method)

In [23]:
accuracy(pred, test[!, :DefaultNum])

0.9795